<?xml version="1.0" encoding="utf-8" ?>
<example title="Kullanici Tanimlari">
    <description>
        <![CDATA[Kullanıcı bilgilerini getirir.]]>
    </description>
  <tags></tags>
    <include>
      <file url="../../Shared/User.cs" />
      <file url="../../Shared/UserRes.cs" />
      <file url="../../Shared/BaseRes.cs" />
    </include>
</example>
