<?xml version="1.0" encoding="utf-8" ?>
<example title="Crm Form Islemleri">
    <description>
        <![CDATA[Kullanıcı bilgilerini getirir.]]>
    </description>
  <tags></tags>
    <include>
      <file url="../../Shared/CrmForm.cs" />
      <file url="../../Shared/CrmFormRes.cs" />
      <file url="../../Shared/FormCagriRes.cs" />
      <file url="../../Shared/FormFirsatRes.cs" />
    </include>
</example>
